.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  height: 80px;
  padding: 20px;
  color: #2d2d2d;
}

button {
  background: skyblue;
  border-radius: 5px;
  margin: auto;
  height: 40px;
  width: 100px;
  padding: 2px;
  font-size: .8em;
}
