@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,600');

.Destination-Container {
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  padding: .41em;
  margin: auto;
  margin-top: .5em;
  width: 325px;
  height: 8em;
  display: flex;
  flex-direction: column;
}


h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: -.5em;
}

.Destination-Container a {
  font-size: .5em;
  text-decoration: none;
  margin-top: -1em;
  color: #585858;
}

.Destination-Type {
  font-size: .6em;
  color: #585858;
  margin-top: 2em;
}

.Destination-Votes {
  font-size: .7em;
  color: #585858;
  margin-top: 0em;
}


a.destroy {
  width: 20%;
  float: right;
  margin: -3em 0 0 30em;
  color: gray;
  background: transparent;
}

.destructive {
  background: #DC3D24;
  color: #fff;
  margin: auto;
  width: 50%;  
}

.positive {
  background: #50d07d;
  color: #fff;
  margin: auto;
  width: 40%;
}

ul {
  text-align: center;
  font-size: .4em;
}


button {
  height: 2.5em;
  border-radius: 4px;
  border-color: transparent;
  margin-left: 2px;
}
