.Destination-Form {
  height: 10em;
  background: #fff;
  margin: auto;
}

.Destination-Form input {
  height: 2.5em;
  text-align: center;
  font-size: .7em;
  width: 25em;
  border: solid 1px #6A9A1F;
  border-radius: 5px;
  margin-right: .5em;
  margin-bottom: .4em;
}

.Destination-Form button {
  margin-top: .5em;
  height: 2.2em;
  background: #fff;
  color: #2d2d2d;
  font-size: 8pt;
  border: solid 1px #6A9A1F;
}

.Destination-Form p {
  font-size: .8em;
  color: #6A9A1F;
}

input[type='text']
  font-size: inherit;

