
.SignIn {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  margin: auto;
}

img {
  max-width: 250px;
}

img:active {
  opacity: .8;
}

.fbIMG {
  width: 240px;
}

button {
  background: transparent;
}

.SignIn h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin-top: 50%;
}

