.user-container {
  position: absolute;
  top: 0;
  height: 3.5em;
  width: 30%;
  display: flex;
  flex: row;
  padding: 10px;
}

.user-photo img {
  max-height: 48px;
  margin-right: 1em;
  border-radius: 24px;
}

.user-menu {
  font-size: 10pt;
  color: gray;
}

button {
  border: none;
}
